body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 100px;
}

.right-links {
    display: flex;
    gap: 16px;
}

.body1-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.opener{
    font-size:x-large
}
.placeholder{
    padding: 100px;
    width: 300px;
    background-color: gray;
}

.card{
    border-color: aqua;
    border: 5px solid blueviolet;
    width: 200px;
    height: 200px;
    padding: 16px;
}